.headerblock{
    background: url('../public/Model\ S.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: serif;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    height: 100vh;
    place-items: center;
}
.headerblock1 {
    background: url('../public/Model\ Y.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
    font-family: serif; 
    display: grid;
    height: 100vh;
    place-items: center;

}
.headerblock2 {
    background: url('../public/Model\ x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;   
    font-family: serif;
    display: grid;
    height: 100vh;
    place-items: center;
}
.headerblock3{
    background: url('../public/Solar\ ROOF.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;   
    font-family: serif;
    display: grid;
    height: 100vh;
    place-items: center;
}
.headerblock4{
    background: url('../public/Solar\ Panel.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;   
    font-family: serif;
    display: grid;
    height: 100vh;
    place-items: center;
}

.drive-link {
    font-size: 15px;
    font-weight: 400;
    color: black;
}
.headerblock_infotext{
    display: flex;
    flex-direction: column;
    height: 390px;
}
#model-S-name {
    font-size: 40px;
    font-weight: 600;
}
#model-Y-name {
    font-size: 40px;
    font-weight: 600;
}
#model-X-name {
    font-size: 40px;
    font-weight: 600;
}
#model-panel-name {
    font-size: 40px;
    font-weight: 600;
}
#model-roof-name {
    font-size: 40px;
    font-weight: 600;
}

.drive-link3 {
 text-decoration: none;
}
.drive-link4 {
    text-decoration: none;
   }
.headerblock_actions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.headerblock_actions > button {
    cursor: pointer;
    padding: 10px 40px;
    border-radius: 7px;
}
.headerblock_buttonprimary{
    background-color: rgb(34, 34, 34);
    color: white;
}
.headerblock_infotext {
    padding-left: 25%;
}