.signup
{
 padding: 2%;
 cursor: pointer;
}

.signup_logo > a > img 
{
    width: 20%;
}
.signup_header
{
display: grid;
grid-template-columns: 1fr 1fr;
}
.signup_form
{
    display: grid;
    grid-template-columns: 1fr;
    width: 300px;
}
.account-creation{
    padding: 9% 25%;
}